<%= render 'layouts/error', data: @genre %>
<div class="container">
  <div class="row">
    <h1>ジャンル編集</h1>
    <div class="col-md-4">
      <%= form_with(model: @genre, url:admin_genre_path, local: true) do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "更新する", class: " btn-square-shadow" %>
          <%= link_to "削除", admin_genre_path(@genre), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-delete-shadow" %>
      <% end %>
    </div>
  </div>
</div>
