<div class="container">
  <div class="row">
    <h1>ジャンル一覧</h1>

    <% if @genre.errors.any? %>
      <div id="error_explanation">
        <h2><%= @genre.errors.count %> errors prohibited this book from being saved:</h2>
          <ul>
            <% @genre.errors.full_messages.each do|message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="col-md-4">
      <%= form_with(model: @genre, url:admin_genres_path, local: true) do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "登録する", class:"btn-success" %>
      <% end %>
    </div>
    <%= render 'user/genres/genres', genres: @genres %>
  </div>
</div>
