<%= render 'layouts/error', data: @genre %>
<div class="genre-form">
  <h2>ジャンル新規登録</h2>
  <%= form_with(model: @genre, url:admin_genres_path, local: true) do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "登録する", class: "btn-square-shadow" %>
  <% end %>
</div>

<%= render 'user/genres/genres', genres: @genres %>
