<div class="container">
  <div class="row">
    <h1>作品一覧</h1>
    <ul class="box">
      <% @movies.each do |movie| %>
        <li class="movie-box">
          <%= attachment_image_tag movie, :movie_image, size: "180x230", format: "jpg", fallback: "no_image.jpg" %><br/>
          <%= movie.title %><br/>
          <%= movie.a_movie_released %><br/>
          <%= movie.show_time %><br/>
          <%= link_to '詳細を見る', admin_movie_path(movie) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
