<h1>作品新規投稿</h1>

<%= form_with(model: @movie, url:admin_movies_path, local:true) do |f| %>
  <div class="col-md-5">
    <%= image_tag attachment_url(@movie, :movie_image, :fill, 300, 300, format: "jpg", fallback: "no_image.jpg") %>
    <%= f.attachment_field :movie_image %>
  </div>
  <div class="col-md-7">
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />

    <%= f.label :a_movie_released %><br />
    <%= f.text_field :a_movie_released %><br />

    <%= f.label :show_time %><br />
    <%= f.text_field :show_time %><br />

    <%= f.nested_fields_for :supervisers, wrapper_tag: :div do |superviser| %>
      <div class="form-group">
        <%= superviser.label "監督" %><br />
        <%= superviser.text_field :superviser_name %><br/>
        <%= superviser.remove_nested_fields_link '削除', role: 'button' %>
      </div>
    <% end %><br />
    <%= f.add_nested_fields_link :supervisers, '監督を追加', role: 'button' %><br />

    <%= f.fields_for :writers do |w| %>
      <%= w.label "脚本家" %><br />
      <%= w.text_field :writer_name %>
    <% end %><br />

    <%= f.fields_for :actors do |a| %>
      <%= a.label "俳優" %><br />
      <%= a.text_field :actor_name %>
    <% end %><br />

    <%= f.label :summary %><br />
    <%= f.text_area :summary %><br />

    <%= f.submit %>
  </div>
<% end %>

