<div class="container">
  <div class="row">
    <h1>作品新規投稿</h1>

    <%= form_with(model: @movie, url:admin_movies_path(@movie), local:true) do |f| %>
      <div class="col-md-5">
        <%= image_tag attachment_url(@movie, :movie_image, :fill, 300, 420, format: "jpg", fallback: "no_image.jpg") %>
        <%= f.attachment_field :movie_image %>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <%= f.label "タイトル" %><br />
          <%= f.text_field :title %><br />
        </div>

        <%= f.label "公開日" %><br />
        <%= f.text_field :a_movie_released %><br />

        <%= f.label "上映時間" %><br />
        <%= f.text_field :show_time %><br />

        <div class="form-group">
          <%= f.nested_fields_for :movie_genres, wrapper_tag: :div do |genres| %>
            <%= genres.label "ジャンル" %><br/>
            <%= genres.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
            <%= genres.remove_nested_fields_link '削除', role: 'button' %>
          <% end %>
          <%= f.add_nested_fields_link :movie_genres, 'ジャンルを追加', role: 'button' %><br />
        </div>

        <div class="form-group">
          <%= f.nested_fields_for :supervisers, wrapper_tag: :div do |superviser| %>
            <%= superviser.label "監督" %><br />
            <%= superviser.text_field :superviser_name %><br/>
            <%= superviser.remove_nested_fields_link '削除', role: 'button' %>
          <% end %>
          <%= f.add_nested_fields_link :supervisers, '監督を追加', role: 'button' %><br />
        </div>

        <div class="form-group">
          <%= f.nested_fields_for :writers, wrapper_tag: :div do |writer| %>
            <%= writer.label "脚本家" %><br />
            <%= writer.text_field :writer_name %><br/>
            <%= writer.remove_nested_fields_link '削除', role: 'button' %>
          <% end %>
          <%= f.add_nested_fields_link :writers, '脚本家を追加', role: 'button' %><br />
        </div>

        <div class="form-group">
          <%= f.nested_fields_for :actors, wrapper_tag: :div do |actor| %>
            <%= actor.label "キャスト" %><br />
            <%= actor.text_field :actor_name %><br/>
            <%= actor.remove_nested_fields_link '削除', role: 'button' %>
          <% end %>
          <%= f.add_nested_fields_link :actors, 'キャストを追加', role: 'button' %><br />
        </div>

        <%= f.label "あらすじ"%><br />
        <%= f.text_area :summary %><br />

        <%= f.submit "映画新規登録", class:"btn-square-shadow" %>
      </div>
    <% end %>
  </div>
</div>

