<h1>映画詳細</h1>

<div class="col-md-6">
  <%= attachment_image_tag @movie, :movie_image, :fill, 300, 420, format: "jpg", fallback: "no_image.jpg" %><br/>
  <%= link_to '編集ページへいく', edit_admin_movie_path(@movie) %>
</div>
<div class="col-md-6">
  <div>タイトル</div>
  <h2><%= @movie.title %></h2><br/>

  <div>公開年月</div>
  <div><%= @movie.a_movie_released %></div><br/>

  <div>上映時間</div>
  <div><%= @movie.show_time %></div><br/>

  <div>ジャンル</div>
  <% @movie.movie_genres.each do |movie_genre| %>
    <div><%= movie_genre.genre.name %></div>
  <% end %><br/>

  <div>監督</div>
  <% @movie.supervisers.each do |superviser| %>
    <div><%= superviser.superviser_name %></div>
  <% end %><br/>

  <div>脚本</div>
  <% @movie.writers.each do |writer| %>
    <div><%= writer.writer_name %></div>
  <% end %><br/>

  <div>キャスト</div>
  <% @movie.actors.each do |actor| %>
    <div><%= actor.actor_name %></div>
  <% end %><br/>

  <div>あらすじ</div>
  <div><%= @movie.summary %></div>

</div>
