<h1>映画詳細</h1>

<div class="col-md-12">
  <%= attachment_image_tag @movie, :movie_image, :fill, 300, 300, format: "jpg", fallback: "no_image.jpg" %>
</div>
<div class="col-md-12">
  <table>
    <tbody>
      <tr>
        <th>タイトル</th>
        <th><%= @movie.title %></th>
      </tr>
      <tr>
        <th>公開年月</th>
        <th><%= @movie.a_movie_released %></th>
      </tr>
      <tr>
        <th>上映時間</th>
        <th><%= @movie.show_time %></th>
      </tr>
      <tr>
        <th>監督</th>
        <% @movie.supervisers.each do |superviser| %>
          <th><%= superviser.superviser_name %></th>
        <% end %>
      </tr>
      <tr>
        <th>脚本</th>
        <% @movie.writers.each do |writer| %>
          <th><%= writer.writer_name %></th>
        <% end %>
      </tr>
      <tr>
        <th>キャスト</th>
        <% @movie.actors.each do |actor| %>
          <th><%= actor.actor_name %></th>
        <% end %>
      </tr>
      <tr>
        <th>あらすじ</th>
      </tr>
      <tr>
        <th><%= @movie.summary %></th>
      </tr>
    </tbody>
  </table>
</div>
