<div class="profile-box">
  <h1>マイページ</h1>
    <%= attachment_image_tag @user, :profile_image, size: "300x300", format: "jpg", fallback: "no_image.jpg" %><br/>
    <h2><%= @user.name %><%= render "follow_form", user: @user %></h2><br/>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <%= link_to 'マイページを編集する。', edit_user_user_path(@user), class: "btn-square-shadow" %>
      <% end %>
    <% end %>
</div>

<div class="my-box">
  <p class="my-mini-box btn-border" id="user-reviews-show">登録映画一覧</p>
  <p class="my-mini-box btn-border" id="user-ranking-show"><%= @user.name %>さんの映画ランキングBEST3</p>
  <p class="my-mini-box btn-border user-followers-show" id="follower">
    <%= render "followers_count", user: @user %>
  </p>
  <p class="my-mini-box btn-border" id="user-following-show">
    <span class="people-status">Following</span><br/><%= @user.following.count %>
  </p>
</div>

<div id="user-reviews-modal">
  <%= render 'user/reviews/user_reviews', reviews: @reviews, movie_rank: @movie_rank, rank: @rank %>
</div>

<div class="user-followers-modal-wrappper" id="user-followers-modal">
  <%= render 'user/users/followers', users: @followers %>
</div>

<div class="user-following-modal-wrappper" id="user-following-modal">
  <%= render 'user/users/following', users: @following %>
</div>

<div class="user-ranking-modal-wrappper" id="user-ranking-modal">
  <%= render 'ranking', movie_ranks: @movie_ranks %>
</div>




