
<h1>マイページ</h1>

  <%= attachment_image_tag @user, :profile_image, size: "300x300", format: "jpg", fallback: "no_image.jpg" %><br/>
  <h2><%= @user.name %><%= render "follow_form", user: @user %></h2><br/>

  <div class="my-box">
    <p class="my-mini-box btn-border">登録映画一覧<%= %></p>
    <p class="my-mini-box btn-border"><%= @user.name %>さんの映画ランキングBEST3</p>
    <p class="my-mini-box btn-border" id="follower">
      <%= render "followers_count", user: @user %>
    </p>
    <p class="follow my-mini-box btn-border">
      <%= link_to following_user_user_path(@user) do %>
        Following<br/><%= @user.following.count %>
      <% end %>
    </p>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <%= link_to 'マイページを編集する。', edit_user_user_path(@user), class: "my-mini-box btn-border" %>
      <% end %>
    <% end %>
  </div>



