<div class="review-big-box">
  <% user.reviews.each do |review| %>
    <div class="user-review" id="review-<%= review.id %>">
      <div class="review-box">
        <ul class="review-mini-box">
          <li><%= attachment_image_tag review.movie, :movie_image, size: "135x200", format: "jpg", fallback: "no_image.jpg" %></li>
          <li>
            <% if user_signed_in? %>
              <% if review.user.id == current_user.id %>
                <% if review.movie_rank %>
                  <% if review.movie_rank.rank_status == "1位" %>
                    <h2 class="first-place"><i class="fas fa-crown"></i>1位</h2><br/>
                  <% elsif review.movie_rank.rank_status == "2位" %>
                    <h2 class="second-place"><i class="fas fa-crown"></i>2位</h2><br/>
                  <% elsif review.movie_rank.rank_status == "3位" %>
                    <h2 class="third-place"><i class="fas fa-crown"></i>3位</h2><br/>
                  <% end %>
                <% else %>
                  <%= form_with model: movie_rank, url:user_movie_review_movie_ranks_path(review.movie_id, review.id), method: :post, local: :true do |f| %>
                    <% if current_user.movie_ranks.find_by(rank_status: "1位") && current_user.movie_ranks.find_by(rank_status: "2位") && current_user.movie_ranks.find_by(rank_status: "3位") %>
                    <% else %>
                      <%= f.select :rank_status, rank,{prompt: "Myランキング選択"}, class: "rank-form" %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :reveiw_id, value: review.id %>
                      <%= f.submit '登録する', class: "btn-square-shadow" %>
                    <% end %>
                  <% end %><br/>
                <% end %>
                <%= link_to '映画の登録を編集する', edit_user_movie_review_path(review.movie, review), class: "show-review-btn btn-square-shadow2" %><br/>
              <% else %>
                <% if review.movie_rank %>
                  <h1><%= review.user.name %>さんの<%= review.movie_rank.rank_status %></h1>
                <% end %>
                <%= link_to 'コメントを投稿する', new_user_movie_review_comment_path(review.movie, review),class: "show-review-btn btn-square-shadow2"%><br/>
              <% end %>
            <% end %>
            <%= link_to '映画をcheck', user_movie_path(review.movie), data: {"turbolinks" => false}, class: "show-review-btn btn-square-shadow" %>
          </li>
        </ul>
        <ul class="review-mini-box">
          <li><%= review.movie.title%></li>
          <li>レビュー登録日：<%= review.created_at.to_s(:datetime_jp) %></li>
          <li id="star-rate-<%= review.id %>"></li>
          <% if review.is_spoil == true %>
            <li class="is_spoil_message-color" id="is_spoil_message-<%= review.id %>" >⚠︎このレビューはネタバレを含みます。</li>
            <li class="is_spoil_content-wrappper" id="is_spoil_content-<%= review.id %>" ><%= safe_join(review.content.split("\n"), tag(:br)) %></li>
          <% elsif review.is_spoil == false  %>
            <li><%= safe_join(review.content.split("\n"), tag(:br)) %></li>
          <% end %>
        </ul>
      </div>

      <div class= "movie-favorite-and-comments-box">
        <% if user_signed_in? %>
          <div class="favorite-layouts" id="favorite-<%= review.id%>">
            <%= render 'user/favorites/favorite', review: review %>
          </div>
          <div class="comment-layouts">
            <%= link_to user_movie_review_path(review.movie, review) do %>
              コメント<%= review.comments.count  %>件
            <% end %>
          </div>
          <% if current_user.id == review.user.id %>
            <%= link_to "削除",user_movie_review_path(review.movie_id, review.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-delete-shadow" %>
          <% end %>
        <% else %>
          <% if review.favorites.count == 0 %>
            <div class="favorite-layouts">
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= review.favorites.count %> いいね
              <% end %>
            </div>
          <% else %>
            <div class="favorite-layouts">
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= review.favorites.count %>いいね
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    <% @user.reviews.each do |review| %>
      $('#star-rate-<%= review.id %>').raty({
        score: <%= review.rate %>,
        size: 36,
        starOff: '<%= "#{asset_path('star-off.png')}" %>',
        starOn: '<%= "#{asset_path('star-on.png')}" %>',
        starHalf: '<%= "#{asset_path('star-half.png')}" %>',
        half: true,
        readOnly: true,
      });

      $('#is_spoil_message-<%= review.id %>').click(function(){
        $('#is_spoil_content-<%= review.id %>').fadeIn();
        $('#is_spoil_message-<%= review.id %>').fadeOut();
      });
    <% end %>
  });
</script>