<div class="container">
  <div class="row">
    <h1>レビュー投稿ページ</h1>

    <%= form_with(model: @review, url:user_movie_reviews_path(@movie), local:true) do |f| %>

      <div id="star">
        <%= f.label :rate %><br/>
        <%= f.hidden_field :rate, id: :review_star %>
      </div>

      <%= f.text_area :content %>
      <%= f.submit class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>

<script>
 $('#star').raty({
   size: 36,
   starOff: '<%= "#{asset_path('star-off.png')}" %>',
   starOn: '<%= "#{asset_path('star-on.png')}" %>',
   starHalf: '<%= "#{asset_path('star-half.png')}" %>',
   scoreName: 'review[rate]',
   half: true
 });
</script>

