<% @movie.reviews.each do |review| %>
  <div class="review" id="review-<%= review.id %>">
    <div class="movie-review-box">
      <ul class="movie-review-profile"><
        <li><%= attachment_image_tag review.user, :profile_image, size: "180x180", format: "jpg", fallback: "no_image.jpg" %></li>
        <li>
          <% if user_signed_in? %>
            <% if review.user.id == current_user.id %>
              <%= link_to 'マイページへいく', user_user_path(current_user.id), data: {"turbolinks" => false}, class: "btn-square-shadow show-review-btn" %><br/>
              <%= link_to '映画の登録を編集する', edit_user_movie_review_path(@movie, review), class: "btn-square-shadow2 show-review-btn" %>
            <% else %>
              <%= link_to user_user_path(review.user.id), data: {"turbolinks" => false}, class: "btn-square-shadow show-review-btn" do %>
                <%= review.user.name %>さんのページへ行く
              <% end %><br/>
              <%= link_to 'コメントを投稿する', new_user_movie_review_comment_path(@movie, review), class: "btn-square-shadow2 show-review-btn" %>
            <% end %>
          <% else %>
            <%= link_to user_user_path(review.user.id), data: {"turbolinks" => false}, class: "btn-square-shadow show-review-btn" do %>
              <%= review.user.name %>さんのページへ行く</p>
            <% end %>
          <% end %>
        </li>
      </ul>
      <ul class="movie-review-status">
        <li class="user-review-name"><%= review.user.name%>さんの感想と評価。</li>
        <li><%= review.updated_at.to_s(:datetime_jp) %></li>
        <li id="star-rate-<%= review.id %>"></li>
        <% if review.is_spoil == true %>
          <li class="is_spoil_message-color" id="is_spoil_message-<%= review.id %>" >⚠︎このレビューはネタバレを含みます。</li>
          <li class="is_spoil_content-wrappper" id="is_spoil_content-<%= review.id %>" ><%= safe_join(review.content.split("\n"), tag(:br)) %></li>
        <% elsif review.is_spoil == false  %>
          <li><%= safe_join(review.content.split("\n"), tag(:br)) %></li>
        <% end %>
      </ul>
    </div>
    <div class= "movie-favorite-and-comments-box">
      <% if user_signed_in? %>
        <div class="favorite-layouts" id="favorite-<%= review.id%>">
          <%= render 'user/favorites/favorite', review: review %>
        </div>
        <div class="comment-layouts">
          <%= link_to user_movie_review_path(@movie, review) do %>
            コメント<%= review.comments.count  %>件
          <% end %>
        </div>
          <% if current_user.id == review.user.id %>
            <%= link_to "削除",user_movie_review_path(@movie.id, review.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-delete-shadow" %>
          <% end %>
      <% else %>
        <% if review.favorites.count == 0 %>
          <div class="favorite-layouts">
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= review.favorites.count %> いいね
            <% end %>
          </div>
        <% else %>
          <div class="favorite-layouts">
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= review.favorites.count %>いいね
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>