<div id="modal">
  <h1>映画登録ページ</h1>
  <div id="review-close-modal" class="btn close">
    <i class="fa fa-2x fa-times"></i>
  </div>

  <%= form_with(model: review, url:user_movie_reviews_path(movie), local:true) do |f| %>
    <div id="star">
      <%= f.label '評価' %><br/>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <%= f.check_box( :is_spoil, {:checked => false}, checked_value = "true", unchecked_value = "false") %>
    <%= f.label :is_spoil, "⚠︎ネタバレあり", class: 'check_box_label' %><br/>
    <%= f.label '感想' %><br/>
    <%= f.text_area :content, class: 'text-content', style: "height: 140px" %><br/>
    <%= f.submit '登録する', class: 'btn-square-shadow' %>
  <% end %>
</div>

<script>
  $(document).on('turbolinks:load',function(){
    $('#star').raty({
      size: 36,
      number: 5,
      starOff: '<%= "#{asset_path('star-off.png')}" %>',
      starOn: '<%= "#{asset_path('star-on.png')}" %>',
      starHalf: '<%= "#{asset_path('star-half.png')}" %>',
      scoreName: 'review[rate]',
      half: true
    });
  });
</script>
